<section class="hero is-second">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Edit Post
      </h1>
      <h2 class="subtitle">
        You're editing the post, so you've done mistake, u noob.
      </h2>
    </div>
  </div>
</section>

<%= render 'form' %>